
<!-- #1 Create a Template Refence Variable #myVariable -->
<!-- #3 (keyup)="0" -->
<input type="text" #myVariable (keyup)="0">
<button (click)="sayHello(myVariable)">Say Hello</button>
<p>{{ myVariable.value }}</p>

<!-- Note:-->
<!-- 1. (keyup)="0" : initially when this page loads this text box is empty and that's why in the paragraph 
we don't see anything but when we are typing something here this html is not aware about that change  -->
 
<!-- So we want to bind the key up event here whenever this key up event will happen angular will run the change  -->

2.(click)="sayHello(myVariable)" : 